<div class="about-container">
    <main class="main-content">
      <h1>People</h1>
      <div class="profile">
        <div class="profile-image">
          <img src="assests/images/gk.png" alt="Nithin Kamath" />
        </div>
        <div style="font-family: 'MyCustomFont', sans-serif;" class="profile-details">
          <p>Karthik is a new age software developer and bootstrapped the software industry with his disruptive and great initavtives of technology</p>
          <p>He is a member of the Competive coding club we he brough many medals and many other stuffs.</p>
          <p>Playing table tennis is his zen.</p>
          
        </div>
      </div>
    </main>
  </div>
  