<nav class="navbar">
    <div class="container">
        <div class="relative-section">
            <img class="logo-img" src="assests/images/logo.svg" alt="Zerodha logo" />
        </div>
        <div  class="navigation-section">
            <ul class="navbar-links">
                <li class="hide-on-small">
                    <a routerLink="signup">Signup</a>
                </li>
                <li class="hide-on-small">
                    <a routerLink="about">About</a>
                </li>
                <li class="hide-on-small">
                    <a routerLink="products">Products</a>
                </li>
                <li class="hide-on-small">
                    <a routerLink="pricing">Pricing</a>
                </li>
                <li class="hide-on-small">
                    <a routerLink="support">Support</a>
                </li>
            </ul>
            <div id="menu_btn" title="Menu">
                <div id="nav-icon3">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div >
           
            </div>
        </div>
    
</nav>



