
<router-outlet></router-outlet>

<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8" />
    <title>Zerodha - Online stock trading at lowest prices from India&#x27;s biggest stock broker &ndash; Zerodha</title>
    <meta name="description" content="Zerodha - India&#x27;s biggest stock broker offering the lowest, cheapest brokerage rates for futures and options, commodity trading, equity and mutual funds" />
    <meta name="keywords" content="discount broker, discount brokerage, lowest brokerage commissions, lowest brokerage fees, indian discount brokerage, indian discount broker, cheap brokerage, discount brokerage bangalore, fixed brokerage bangalore, cheap trading, cheap commodity trading, trading terminal, futures trading, stock broker, fixed stock brokerage, cheapest brokerage, cheapest brokerage in india, online trading, online brokerage, cheap demat account, bangalore broker, commodities trading" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph -->
    <meta property="og:image" content="assests/images/landing.png" />
    <meta property="og:description" content="Zerodha - India&#x27;s biggest stock broker offering the lowest, cheapest brokerage rates for futures and options, commodity trading, equity and mutual funds" />
    <meta property="og:image:alt" content="Zerodha - Online stock trading at lowest prices from India&#x27;s biggest stock broker" />
    <meta property="og:title" content="Zerodha - Online stock trading at lowest prices from India&#x27;s biggest stock broker" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://zerodha.com/" />
    <meta name="referrer" content="origin">

    <link rel="image_src" href="assests/images/landing.png" />

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Zerodha",
            "logo": "assests/images/logo.svg",
            "description": "Zerodha - India's biggest stock broker offering the lowest, cheapest brokerage rates in the industry. We offer option trading, commodity brokerage, futures trading, brokerage, equity and mutual fund investing services in India",
            "contactPoint": [{
                "@type": "ContactPoint",
                "telephone": "+91 80 4040 2020",
                "contactType": "customer service"
            }],
            "url": "https://zerodha.com/",
            "sameAs": [
                "https://facebook.com/zerodha.social",
                "https://twitter.com/zerodhaonline",
                "https://youtube.com/user/zerodhaonline",
                "https://linkedin.com/company/zerodha",
                "https://instagram.com/zerodhaonline"
            ]
        }
    </script>
</head>

<body>
 
<app-navbar></app-navbar>
    <main class="content parent-content">
        <div class="homepage">
            <!-- Invest in everything -->
            <section class="text-center landing">
                <div class="container">
                    <img class="landing-image" src="assests/images/landing.png" alt="Zerodha, no. 1 stock broker in India" />
                    <h1 class="landing-heading text-center">Invest in everything</h1>
                    <h5 class="landing-subheading text-center">
                        Online platform to invest in stocks, derivatives, mutual funds, ETFs, bonds, and more.
                    </h5>
                    
                </div>
            </section>
            <!-- Whole ecosystem -->
            <section class="ecosystem">
                <div class="container">
                    <div class="row between middle">
                        <div class="five columns">
                            <h2>Trust with confidence</h2>
                            <div class="why-us-section">
                                <h4>Customer-first always</h4>
                                <p>
                                    That's why 1.5+ crore customers trust Zerodha with ₹4.5+ lakh crores of equity investments and contribute to 15% of daily retail exchange volumes in India. 
                                </p>
                            </div>
                            <div class="why-us-section">
                                <h4>No spam or gimmicks</h4>
                                <p>
                                    No gimmicks, spam, "gamification", or annoying push notifications. High quality apps that you use at your pace, the way you like.
                                </p>
                            </div>
                            <div class="why-us-section">
                                <h4>The Zerodha universe</h4>
                                <p>
                                    Not just an app, but a whole ecosystem. Our investments in 30+ fintech startups offer you tailored services specific to your needs.
                                </p>
                            </div>
                            <div class="why-us-section">
                                <h4>Do better with money</h4>

                                <p>
                                    With initiatives like 
                            </div>
                        </div>
                        <div class="seven columns">
                            <div class="text-center">
                                <a href="products.1"><img src="assests/images/ecosystem.png" alt="The Zerodha Universe" class="ecosystem-image" /></a>
                            </div>
                            <p class="text-center">
                                <a href="products.1">Explore our products<i class="icon-arrow-right"></i></a>
                               
                            </p>
                        </div>
                    </div>
                </div>
                <div class="press-strip text-center">
                 <img src="assests/images/press-logos.png" />
                </div>
            </section>
            <!-- Unbeatable pricing -->
            <section class="pricing">
                <div class="container">
                    <div class="row v-align around">
                        <div class="columns five">
                            <h2>Unbeatable pricing</h2>
                            <p>
                                We pioneered the concept of discount broking and price transparency in India. Flat fees and no hidden charges.
                            </p>
                        </div>
                        <div class="columns seven">
                            <div class="pricing-box">
                                <img src="static/images/pricing-eq.svg" alt="" />
                                <p>Free account<br>opening</p>
                            </div>
                            <div class="pricing-box">
                                <img src="static/images/pricing-eq.svg" alt="" />
                                <p>Free equity delivery<br>and direct mutual funds</p>
                            </div>
                            <div class="pricing-box">
                                <img src="static/images/other-trades.svg" alt="" />
                                <p>Intraday and<br>F&amp;O</p>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </section>
            <!-- Open free education -->
            <section>
                <div class="container">
                    <div class="row between v-align">
                        <div class="columns five text-center">
                         <img class="img-margin" src="assests/images/index-education.svg" />
                        </div>
                        <div class="columns six">
                            <h4>Free and open market education</h4>
                           
                            
                            <p class="space-top">
                                TradingQ&amp;A, the most active trading and investment community in India for all your market related queries.
                            </p>
                           
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="kite-sections text-center kitefooter-container">
            <div class="mini-container">
                <h2>Open a Zerodha account</h2>
                <p class="text-grey text-med">
                    Modern platforms and apps, ₹0 investments, and flat ₹20 intraday and F&amp;O trades.
                </p>
                <a  class="button">Sign up now</a>
            </div>
        </section>
    </main>
    <app-footer></app-footer>
</body>

</html>
