<div class="pricing-container">
    <main class="content parent-content">
      <main class="content">
        <section class="pricing-header container text-center border-bottom">
          <h1>Pricing</h1>
          <h5>Free equity investments and flat &#8377;20 intraday and F&amp;O trades</h5>
        </section>
        <section class="pricing-sections text-center img-right container border-bottom">
          <div class="row between prices text-center">
            <div class="four columns">
              <img src="assests/images/pricing-eq.svg" alt="Free equity delivery" />
              <h3>Free equity delivery</h3>
              <p class="text-grey">
                All equity delivery investments (NSE, BSE), are absolutely free
                &mdash; &#8377; 0 brokerage.
              </p>
            </div>
            <div class="four columns">
              <img src="assests/images/other-trades.svg" alt="Intraday and F&amp;O trades" />
              <h3>Intraday and F&amp;O trades</h3>
              <p class="text-grey">
                Flat &#8377; 20 or 0.03% (whichever is lower) per executed order on
                intraday trades across equity, currency, and commodity trades. Flat &#8377;20 on all option trades.
              </p>
            </div>
            <div class="four columns">
              <img src="assests/images/pricing-eq.svg" alt="Free direct MF" />
              <h3>Free direct MF</h3>
              <p class="text-grey">
                All direct mutual fund investments are absolutely free &mdash;
                &#8377; 0 commissions &amp; DP charges.
              </p>
            </div>
          </div>
        </section>
        <section class="kite-sections text-center kitefooter-container">
          <div class="mini-container">
            <h2>Open a Zerodha account</h2>
            <p class="text-grey text-med">
              Modern platforms and apps, ₹0 investments, and flat ₹20 intraday and F&amp;O trades.
            </p>
            <a routerLink="signup"class="button">Sign up now</a>
          </div>
        </section>
        <section class="pricing-sections info center-on-mobile">
          <div class="mini-container">
            <div class="calculator-links row between v-align">
              <div class="four columns text-center">
                <h5><a href="#">Brokerage calculator</a></h5>
              </div>
              <div class="four columns text-center">
                <h5><a href="#">List of charges</a></h5>
              </div>
            </div>
          </div>
          <div class="container">
            <ul class="list-items">
              <li class="text-grey text-12">
                Call &amp; Trade and RMS auto-squareoff: Additional charges of
                &#8377;50 + GST per order.
              </li>
              <li class="text-grey text-12">
                Digital contract notes will be sent via e-mail.
              </li>
              <li class="text-grey text-12">
                Physical copies of contract notes, if required, shall be charged
                &#8377;20 per contract note. Courier charges apply.
              </li>
              <li class="text-grey text-12">
                For NRI account (non-PIS), 0.5% or &#8377;100 per executed order for equity (whichever is lower).
              </li>
              <li class="text-grey text-12">
                For NRI account (PIS), 0.5% or &#8377;200 per executed order for equity (whichever is lower).
              </li>
              <li class="text-grey text-12">
                If the account is in debit balance, any order placed will be charged &#8377;40 per executed order instead of &#8377;20 per executed order.
              </li>
            </ul>
          </div>
        </section>
      </main>
    </main>
  </div>
  